<a href="https://colab.research.google.com/github/boloftech/problem-solving/blob/main/two_pointers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
from typing import List
def containsDuplicate1(nums:List[int])-> bool:
  #[1,1,2] = TRUE. #[1,2,3]= False
  return len(set(nums)) != len(nums)

In [10]:
containsDuplicate1([1,3,2])

False

In [11]:
from re import T
from typing import List
def containsDuplicate2(nums:List[int])-> bool:
  #[1,1,2] = TRUE. #[1,2,3]= False
  solution = set()

  for num in nums:
    if num in solution:
      return True
    else:
      solution.add(num)
  return False

In [14]:
containsDuplicate2([1,1,2,2])

True

In [18]:
def isAnagram(s1:str,s2:str)->bool:
  s1 = "".join(sorted(s1))
  s2 = "".join(sorted(s2))

  print(s1)
  print(s2)
  return s1 == s2

In [21]:
isAnagram("rat","car")

art
acr

False

In [41]:
def twoSum(nums:List[int],target:int)->List[int]:
  nums.sort()

  dic = {}
  result = []
  for i in range(len(nums)):
    temp = target-nums[i]

    if temp in dic:
      result.append(i)
      result.append(dic[temp])
    else:
      dic[nums[i]] = i

  return result

In [42]:
twoSum([2,7,11,15],9)

[1, 0]

In [57]:
from collections import defaultdict
def group_anagrams(strs:List[str]):
  #key - values
  dic = defaultdict(list)
  keys = set()
  for item in strs:
    key = "".join(sorted(item))
    if key not in dic:
      dic[key] = [item]
    else:
      dic[key].append(item)
    #keys.add("".join(sorted(item)))
  return dic.values()

In [56]:
group_anagrams(["eat","tea","tan","ate","nat","bat"])

dict_values([['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']])